@import "tailwindcss";

@theme {
  --color-brand-primary: #4c1d95;
  /* Deep Purple */
  --color-brand-secondary: #7c3aed;
  /* Vibrant Purple */
  --color-brand-accent: #fbbf24;
  /* Warm Gold Accent */

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  /* Dark slate for text */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* We can define custom utilities here! */
@utility glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}