@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-primary: #800000;
  /* IIT BHU Maroon */
  --color-brand-secondary: #660000;
  /* Darker Maroon */
  --color-brand-accent: #fbbf24;
  /* BHU Official Saffron/Orange */

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  /* Dark slate for text */
  --font-sans: var(--font-inter);
  --font-heading: var(--font-montserrat);
}



:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* We can define custom utilities here! */
@utility glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}